@page "/AddParty"
@using Models
@inject Services.PartyService _partyService;
@inject NavigationManager _navigationManager

<h3>Add Party</h3>

<EditForm Model="@PartyModel" OnValidSubmit="@CreatePartyAsync">
    <DataAnnotationsValidator />
    @*<ValidationSummary />*@
    <div>
        <label>Name</label>
        <InputText id="name" class="form-control" @bind-Value="PartyModel.Name" />
        <ValidationMessage For="@(()=>PartyModel.Name)" />
    </div>
    <div>
        <label>Established</label>
        <InputDate id="year" class="form-control" @bind-Value="PartyModel.Estabslished" />
    </div>

    <div>
        <label>Address</label>
        <InputText id="email" class="form-control" @bind-Value="PartyModel.AddressLine1" />
        <ValidationMessage For="@(()=>PartyModel.AddressLine1)" />
    </div>

    <div>
        <label>City</label>
        <InputText id="email" class="form-control" @bind-Value="PartyModel.TownCity" />
        <ValidationMessage For="@(()=>PartyModel.TownCity)" />
    </div>

    <div>
        <label>Postcode</label>
        <InputText id="email" class="form-control" @bind-Value="PartyModel.PostCode" />
        <ValidationMessage For="@(()=>PartyModel.PostCode)" />
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <input type="button" class="btn btn-secondary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>

</EditForm>


@code {

    Party PartyModel = new Party();

    private async Task CreatePartyAsync()
    {

        await _partyService.AddPartyAsync(PartyModel);

        _navigationManager.NavigateTo("Parties");
    }

    void Cancel()
    {
        _navigationManager.NavigateTo("Parties");
    }

}
